/* Header */

.header-logo:hover {
    background-color: white !important;
}

.menu .ui.floating.label {
    top: -1em !important;
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
}

/*  */

/* Login */

.login-wrapper, .register-wrapper {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-card {
    width: 24em !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.login-form-header {
    background-color: white; 
    padding: 0.6em 1em;
    text-align: center !important
}

.login-form-logo {
    width: 15em !important
}

.input-wrapper {
    border: 1px solid #ccc
}

.input-icon {
    height: 100%;
    border-right: 1px solid #ccc;
    padding: .67857143em 1em;
    background-color: #f0eded;
}

.login-form-buttons {
    width: 100%; 
    font-weight: normal;
    margin-top: 0 !important;
}

.field label {
    color: black !important;
}

/* */

/* Home */

.post-item {
    background: #fff !important;
    padding: 10px !important;
    padding-top: 0 !important;
    margin: 0 10px 15px 10px !important;
    width: 100% !important;
    border: none !important;
    border-radius: .28571429rem !important;
    -webkit-box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5 !important;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5 !important;
    -webkit-transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease !important;
    transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease !important;
    transition: box-shadow .1s ease,transform .1s ease !important;
    transition: box-shadow .1s ease,transform .1s ease,-webkit-box-shadow .1s ease,-webkit-transform .1s ease !important;
}

.post-item::after {
    box-sizing: inherit !important;
}

.post-item .column {
    padding: 0.5em !important;
}

.post-header {
    margin: 0 0 0.5em 0 !important;
}

.post-header .post-user-name {
    font-family: 'Helvetica' !important;
    font-weight: 700 !important;
    font-size: 1.28571429em;
    color: rgba(0,0,0,.85);
}

.post-header .post_time {
    margin: .5em 0 .5em;
    font-size: 1em;
    line-height: 1em;
    color: rgba(0,0,0,.6);
}

.post-header .avatar {
    width: 100% !important;
    height: auto !important;
}

.post-content {
    white-space: pre-line;
    margin: 0.5em 0.25em;
    font-size: 1em;
    line-height: 1.4285em;
    color: rgba(0,0,0,.87);
}

.background {
    background-color: #e9e5e5 !important;
}

.feed-container, .profile-container {
    padding: 2em 5%;
}

.items {
    margin: 0 !important;
    padding: 0 15px !important;
}

.post-input-section {
    width: 100%;
    margin: 0 10px 15px 10px !important;
}

/* */

/* Profile */

.profile-avatar {
    width: 200px !important;
    height: 200px !important; 
    margin-left: auto;
    margin-right: auto;
}

.item .header {
    font-family: 'Helvetica' !important;
}