/* Login */

.login-wrapper, .register-wrapper {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-card {
    width: 24em !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.login-form-header {
    background-color: white; 
    padding: 0.6em 1em;
    text-align: center !important
}

.login-form-logo {
    width: 15em !important
}

.input-wrapper {
    border: 1px solid #ccc
}

.input-icon {
    height: 100%;
    border-right: 1px solid #ccc;
    padding: .67857143em 1em
}

.login-form-buttons {
    width: 100%; 
    font-weight: normal;
    margin-top: 0 !important;
}

.field label {
    color: black !important;
}

/* */
